<h1><%= @dessert.name %></h1>
<p> Description: <%= @dessert.description %> </p>
<p> Instructions: <%= @dessert.instructions %> </p>
<p> <img src='<%= @dessert.image %>' alt='<%= @dessert.name %>' > </p>