<h1><%= @starter.name %></h1>
<p> Name: <%= @starter.name %> </p>
<p> Description: <%= @starter.description %> </p>
<p> Instructions: <%= @starter.instructions %> </p>
<p> <img src='<%= @starter.image %>' alt='<%= @starter.name %>' > </p>
