<!DOCTYPE html>
<html>
<head>
  <title>CookbookTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li> <%= link_to('Starters', starters_path) %> </li>
      <li> <%= link_to('New Starter', new_starter_path) %> </li>
      <br>
      <li> Mains </li>
      <li> Desserts </li>
    </ul>
  </nav>


<%= yield %>

</body>
</html>
