<!DOCTYPE html>
<html>
<head>
  <title>Three Course Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li> <%= link_to('Starters', starters_path) %> </li>
      <li> <%= link_to('Mains', mains_path) %> </li>
      <li> <%= link_to('Desserts', desserts_path) %> </li>
    </ul>
  </nav>


<%= yield %>

</body>
</html>
